.container{
  display: grid;
  justify-content: center;
  grid-template-columns:  repeat(3, 1fr);
  grid-template-rows: repeat(3,1fr);
  background-color: blue;
  grid-gap: 5px;
}
.drum-pad{
  background-color: grey;
  color:black;
}
